<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UsersPhotoUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UsersPhotoUpload.Properties.Settings>
            <setting name="FolderRoot" serializeAs="String">
                <value>\\mscs-fs-01\PhotoDB\</value>
            </setting>
            <setting name="FolderKzkk" serializeAs="String">
                <value>Казань</value>
            </setting>
            <setting name="FolderKdtt" serializeAs="String">
                <value>Краснодар</value>
            </setting>
            <setting name="FolderMssu" serializeAs="String">
                <value>Москва</value>
            </setting>
            <setting name="FolderMspo" serializeAs="String">
                <value>Москва</value>
            </setting>
            <setting name="FolderMskm" serializeAs="String">
                <value>Москва</value>
            </setting>
            <setting name="FolderSplp" serializeAs="String">
                <value>Санкт-Петербург</value>
            </setting>
            <setting name="FolderSctrk" serializeAs="String">
                <value>Сочи</value>
            </setting>
            <setting name="FolderMskv" serializeAs="String">
                <value>УК</value>
            </setting>
            <setting name="FolderUfkk" serializeAs="String">
                <value>Уфа</value>
            </setting>
        </UsersPhotoUpload.Properties.Settings>
    </userSettings>
</configuration>